GEMINI_API_KEY=AIzaSyDZFtpWC3vzduDWPTgfApt0zpGYiXuVr4Q
DATABASE_URL=postgresql://user:pass@host:5432/nautilus
EARTHDATA_USER=samar10
EARTHDATA_PASS==UTFx7JER3/MgG.
CDSAPI_URL=https://cds.climate.copernicus.eu/api/v2
CDSAPI_KEY=2db71169-0aa9-46b3-b42b-1cd0beb145aepi_key
FRONTEND_URL=https://nautilasai.vercel.app
